{{!-- Navigation bar --}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" id="SL" href="#"><i class="fas fa-music"></i>Songwriter's Lament</a>
              <button type="signout" class="btn btn-danger float-right">Sign Out</button>
        </div>
    </div>
  
</nav>

{{!-- Main Body --}}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-12">
            
            <div class="row">
                <!-- Testing-->
                <span class="songs-container"></span>
                <!-- Testing -->
                <div class="col-sm-3">
                    <form class="newLyrics" id="newLyric">
                        <div class="form-group">
                            <label for="username" id="SL">Create Song</label>
                            </br>
                            <input class="songTitle" type="text" placeholder="Song Title">
                            <input class="genre" type="text" placeholder="Genre">
                            <textarea type="lyric" class="form-control" id="lyric-input" placeholder="Lyrics..." rows="8"></textarea>
                            <textarea type="inspiration" class="form-control" id="inspiration-input" placeholder="Inspirations..." rows="2"></textarea>
                            <textarea type="notes" class="form-control" id="notes-input" placeholder="Notes..." rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger newLyrics">Create</button>
                        
                    </form>

                    <form class="updateLyric d-none" id="updateLyric">
                        <div class="form-group">
                            <label for="username" id="SL">Update Song</label>
                            </br>
                            <input class="songTitle" type="text" placeholder="Song Title">
                            <input class="genre" type="text" placeholder="Genre">
                            <textarea type="lyric" class="form-control" id="lyric-input" placeholder="Lyrics..." rows="8"></textarea>
                            <textarea type="inspiration" class="form-control" id="inspiration-input" placeholder="Inspirations..." rows="2"></textarea>
                            <textarea type="notes" class="form-control" id="notes-input" placeholder="Notes..." rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger updateLyrics">Update</button>
                        
                    </form>
                </div>

        

        <div class="col-sm-4">
            <div class="card bg-primary">
                <div class="card-body">
                <label for = "api-search">API Search</label>
                <input class = "api-input" type = "text" placeholder="Search...">
                <div class = "api-results"></div>
                </div>
            </div>
            
        </div>

    </div>


</div>