<!-- HEADER -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            
            <div id="SL"><i class="fas fa-music"></i>    Songwriter's Lament</div>
          </div>
        </div>
      </nav>

    <h2 id = "title"> Songwriter's Lament </h2>

    <div class="container">
    <div class="row">
        <div  class="col-md-6 col-md-3 login-box">
        <h3>Login</h3>
        <form class="login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username-input" placeholder="Username">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div>
                <button type="submit" class="btn btn-danger">Sign In</button>
                <button type="create" class="btn btn-danger">Create Account</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <script src="../js/script.js"></script>