#title {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-family: 'Lobster', cursive;
}

#SL{
 padding-right: 5px;
 font-weight: bold;
 font-family: 'Lobster', cursive;
}

.login-box {
 margin:auto;
 width: 100%;
 align-self: center;
 border: 2px solid black;
 padding: 25px;
 border-radius: 10px;
 box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.25);
}

.navbar {
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}


a {
  color: black;
}

.lyrics{
  margin-top: 20px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.form-control {
  margin-bottom: 3px;
  margin-top: 3px;
}

.api-row {
  width: 100%;
  margin-left: 0.05%;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.05%;
  padding-top: 1%;
}

.api-search {
  margin-bottom: 8px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 1%;
  width: 100%;
  font-family: 'Lobster', cursive;
}

.yes {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}